.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-size: 24px;
  margin-right: 20px;
  color: #ffcc00;
  font-family: "Star Wars", sans-serif;
}

.navbar input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}
